.heading{
    color: rgb(2, 117, 216);
}
.back{
    position: absolute;
    left: 0;
}
.container{
    position: relative;
    text-align: center;
    padding: 10px;
    background-color: rgb(247, 247, 247);
}