.circle {
    border-radius: 50%;
    width: 2.3em;
    height: 2.3em;
    padding: 0.25em; 
    background: #fff;
    border: 0.1em solid #666;
    color: rgb(0, 0, 0);
    text-align: center;    
    font: 22px;
    margin:15px;
    display: inline-block;
  }
  .numberWrapper{
      margin: 50px;
      height: 320px;
      overflow: scroll;
  }
  /* .numberContainer{
      max-height: 50opx;
      overflow: scroll;
  } */